 *{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;


}
header{
	 width: 100%;
	 background: #33D1FF;
}
.container-header{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: auto;

}
.logo-title{
	display: flex;
	border-radius: 50%;
}
.logo-title img{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: -40px;


}

.logo-title h2{
color: white;
font-weight: 100;
margin-left: 10px;
margin-top: 20px;
margin-bottom: 20px;
}
/*Portada*/


footer{
width: 100%;
background: #43821B;
color: white;
text-align: center;
font-size: 20px;
margin-bottom: 0px;
padding: 5px 10px;
margin-bottom: 100px;
}

